@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-bg-color: hsla(0,0%,8%,0.95);
    --dark-card-bg: hsla(0,0%,18%,1);
    --light-grey-box: hsla(125,0%,70%,1);
    --dark-grey-text: hsla(125,0%,70%,0.18);
  };